#container1{
	padding: 50px;
}

#title{
	text-align: center;
}

#container2{
	padding: 20px;
	display: inline-block;
}

body{

}

button{
	margin-top: 10px;
}

@media print {
  body * {
    visibility: hidden;
  }
  #container1 * {
    visibility: visible;
  }
  #container1 {
    position: absolute;
    left: 0;
    top: 0;
  }
}
