@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Home
4. Header
	4.1 Logo
	4.2 Main Navigation
	4.3 Phone Home
	4.4 Hamburger
5. Menu
6. Search Box
	6.1 Search Box Title
	6.2 Search Box Arrow
	6.3 Search Form
7. Section Title
8. Featured
9. Testimonials
10. Workflow
11. Cities
12. Call to Action 1
13. Newsletter
14. Footer
	14.1 Footer - About
	14.2 Footer - Useful Links
	14.3 Footer - Contact Form
	14.4 Footer - Contact Info
15. Credits


******************************/

/***********
1. Fonts
***********/

@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans:300,400,600,700');

/*********************************
2. Body and some general stuff
*********************************/

*
{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
body
{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	background: #FFFFFF;
	color: #a5a5a5;
}
div
{
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul
{
	list-style: none;
	margin-bottom: 0px;
}
p
{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 2;
	font-weight: 400;
	color: #838383;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a
{
	display: inline;
	position: relative;
	color: inherit;
	border-bottom: solid 1px #ffa07f;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
a, a:hover, a:visited, a:active, a:link
{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a:active
{
	position: relative;
	color: #FF6347;
}
p a:hover
{
	color: #FFFFFF;
	background: #ffa07f;
}
p a:hover::after
{
	opacity: 0.2;
}
::selection
{
	
}
p::selection
{
	
}
h1{font-size: 48px;}
h2{font-size: 36px;}
h3{font-size: 24px;}
h4{font-size: 18px;}
h5{font-size: 14px;}
h1, h2, h3, h4, h5, h6
{
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
h1::selection, 
h2::selection, 
h3::selection, 
h4::selection, 
h5::selection, 
h6::selection
{
	
}
.form-control
{
	color: #db5246;
}
section
{
	display: block;
	position: relative;
	box-sizing: border-box;
}
.clear
{
	clear: both;
}
.clearfix::before, .clearfix::after
{
	content: "";
	display: table;
}
.clearfix::after
{
	clear: both;
}
.clearfix
{
	zoom: 1;
}
.float_left
{
	float: left;
}
.float_right
{
	float: right;
}
.trans_200
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.trans_300
{
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.trans_400
{
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.trans_500
{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.fill_height
{
	height: 100%;
}
.super_container
{
	width: 100%;
	overflow: hidden;
}
.prlx_parent
{
	overflow: hidden;
}
.prlx
{
	height: 130% !important;
}
.nopadding
{
	padding: 0px !important;
}

/*********************************
3. Home
*********************************/

.home
{
	width: 100%;
	/*height: 100vh; */
}
.home_slider_container
{
	width: 100%;
	height: 100%;
}
.home_slider
{
	width: 100%;
	height: 100%;
}
.home_slider_item
{
	width: 100%;
	height: 100%;
}
.home_slider_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.home_slider_content_container
{
	width: 100%;
	height: 100%;
	padding-top: calc(50vh - 25px);
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 68px;
}
.home_slider_content
{
	width: 100%;
	max-width: 900px;
	height: 100%;
	margin: 0 auto;
	
}
.home_slider_content h1
{
	font-size: 92px;
	font-weight: 700;
	text-transform: uppercase;
	color: #FFFFFF;
}
.home_slider_nav
{
	position: absolute;
	top: 53.9%;
	left: 0;
	width: 140px;
	height: 64px;
	background: #3853a4;
	z-index: 10;
	cursor: pointer;
}
.home_slider_nav::after
{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #0e1d41;
	content: '';
	z-index: -1;
	-webkit-transition: all 600ms cubic-bezier(.25,.62,.27,.99);
	-moz-transition: all 600ms cubic-bezier(.25,.62,.27,.99);
	-ms-transition: all 600ms cubic-bezier(.25,.62,.27,.99);
	-o-transition: all 600ms cubic-bezier(.25,.62,.27,.99);
	transition: all 600ms cubic-bezier(.25,.62,.27,.99);
}
.home_slider_nav:hover::after
{
	width: 0px;
}
.home_slider_nav_left
{
	padding-right: 28px;
}
.home_slider_nav img
{
	width: 12px;
	height: 13px;
}
.flipInX
{
	animation-delay: 600ms;
}

/*********************************
4. Header
*********************************/

.header
{
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 205px;
	border-bottom: solid 1px #aeaead;
	z-index: 15;
}
.header.scrolled
{
	height: 120px;
	background: #0e1d41;
	border: none;
}
.header_container
{
	width: 100%;
	height: 200px;
}
.header.scrolled .header_container
{
	height: 120px;
}

.header.scrolled .header_container .logo_container img
{
	width: 110px;
}

/*********************************
4.1 Logo
*********************************/

.logo_container
{
	
}
.logo
{
	text-align: center;
}
.logo span
{
	display: block;
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	font-weight: 700;
	color: #FFFFFF;
	text-transform: uppercase;
	margin-top: 1px;
}

/*********************************
4.2 Main Navigation
*********************************/

.main_nav
{
	margin-left: auto;
	margin-right: 112px;
}
.main_nav_item
{
	display: inline-block;
	margin-right: 40px;
}
.main_nav_item:last-child
{
	margin-right: 0px;
}
.main_nav_item a
{
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	color: #FFFFFF;
	padding-top: 5px;
	padding-bottom: 5px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.main_nav_item a:hover
{
	color: #3853a4;
}

/*********************************
4.3 Phone Home
*********************************/

.phone_home
{
	width: auto;
	height: 44px;
	background: #3853a4;
	padding-left: 46px;
	padding-right: 39px;
}
.phone_home span
{
	font-size: 18px;
	font-weight: 600;
	line-height: 44px;
	color: #FFFFFF;
}

/*********************************
4.4 Hamburger
*********************************/

.hamburger_container
{
	display: none;
	margin-left: auto;
}
.hamburger i
{
	font-size: 20px;
	padding: 5px;
	color: #FFFFFF;
	cursor: pointer;
}
.hamburger i:hover
{
	color: #f2f2f2;
}
.hamburger i:active
{
	color: #3853a4;
}

/*********************************
5. Menu
*********************************/

.menu
{
	display: block;
	width: 100%;
	max-height: 0px;
	overflow: hidden;
	opacity: 0;
	visibility: hidden;
	background: #FFFFFF;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.menu.active
{
	opacity: 1;
	visibility: visible;
}
.menu_item
{
	border-bottom: solid 1px #f2f2f2;
}
.menu_item:last-child
{
	border: none;
}
.menu_item:hover
{
	background: #f2f2f2;
}
.menu_item a
{
	display: block;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	color: #0e1d41;
	padding-top: 5px;
	padding-bottom: 5px;
	line-height: 60px;
}

/*********************************
6. Search Box
*********************************/

.search_box
{
	width: 100%;
	height: auto;
	z-index: 10;
}
.search_box_outer
{
	margin-top: 0px;
	width: 100%;
}
.search_box_inner
{
	width: 100%;
	background: #0e1d41;
	padding-top: 32px;
	padding-bottom: 25px;
}

/*********************************
6.1 Search Box Title
*********************************/

.search_box_title
{
	position: absolute;
	bottom: 100%;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 43.97%;
	height: 51px;
}
.search_box_title_inner
{
	width: 100%;
	height: 100%;
	background: #3853a4;
}
.search_box_title_icon
{
	position: absolute;
	left: 0;
	top: 0;
	width: 51px;
	height: 51px;
	background: #0e1d41;
}
.search_box_title_icon img
{
	display: block;
	position: relative;
	width: 20px;
	height: 20px;
}
.search_box_title_inner span
{
	font-size: 16px;
	font-weight: 600;
	line-height: 51px;
	color: #FFFFFF;
	text-transform: uppercase;
	margin-left: 7%;
}

/*********************************
6.2 Search Box Arrow
*********************************/

.search_arrow_box
{
	position: absolute;
	left: -29px;
	bottom: calc(100% - 40px);
	pointer-events: none;
}
.search_arrow_box_inner img
{
	width: 382px;
	height: 278px;
}
.search_arrow_circle
{
	position: absolute;
	top: 0;
	left: 0;
	width: 125px;
	height: 125px;
	background: #3853a4;
	border-radius: 50%;
	overflow: hidden;
}
.search_arrow_circle span
{
	font-size: 14px;
	font-weight: 600;
	color: #FFFFFF;
}

/*********************************
6.3 Search Form
*********************************/

.search_form
{
	width: 100%;
}
.search_box_container
{
	width: 1300px;
	padding-left: 20px;
	padding-right: 20px;
}
.search_box_container:nth-child(2)
{
	margin-top: 6px;
}
.dropdown_row
{
	display: block;
	width: 100%;
}
.dropdown_item
{
	display: block;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	float: left;
}
.dropdown_item_5
{
	width: calc((100% - 100px) / 5);
}
.dropdown_item_6
{
	width: calc((100% - 238px) / 6);
}
.dropdown_item_title
{
	font-size: 13px;
	font-weight: 400;
	margin-bottom: 5px;
	color: #FFFFFF;
	padding-left: 1px;
}
.dropdown_item_select
{
	width: 100%;
	height: 34px;
	background: #FFFFFF;
	-webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    -o-appearance:none;
    appearance:none;
	-webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
	-webkit-padding-end: 34px;
	-webkit-padding-start: 15px;
	-webkit-user-select: none;
	background-image: url(../images/dropdown_arrow.png);
	background-position: center right;
	background-repeat: no-repeat;
	border: solid 1px #FFFFFF;
	color: #838383;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	margin: 0;
	overflow: hidden;
	padding-top: 2px;
	padding-bottom: 2px;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
}
.dropdown_item_select::-ms-expand
{
    display: none;
}
.dropdown_item_select:hover
{
	border: solid 1px #3853a4;
}
.dropdown_item_select:focus
{
	outline-color: #3853a4;
}

.input_item_home
{
	width: 100%;
	height: 34px;
	background: #FFFFFF;
	-webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    -o-appearance:none;
    appearance:none;
	-webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
	-webkit-padding-end: 34px;
	-webkit-padding-start: 15px;
	-webkit-user-select: none;
	background-position: center right;
	background-repeat: no-repeat;
	border: solid 1px #FFFFFF;
	color: #838383;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	margin: 0;
	overflow: hidden;
	padding-top: 2px;
	padding-bottom: 2px;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
	border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}
.input_item_home::-ms-expand
{
    display: none;
}
.input_item_home:hover
{
	border: solid 1px #3853a4;
}
.input_item_home:focus
{
	outline-color: #3853a4;
}
.search_button
{
	top: 24px;
}
.search_submit_button
{
	width: 97px;
	height: 34px;
	background: #3853a4;
	border: none;
	font-size: 11px;
	font-weight: 400;
	color: #FFFFFF;
	line-height: 34px;
	text-transform: uppercase;
	cursor: pointer;
}
.search_features_container
{
	padding-left: 30px;
	padding-right: 30px;
	margin-top: 8px;
}
.search_features_trigger
{
	display: inline-block;
	width: auto;
}
.search_features_trigger a
{
	font-size: 12px;
	font-weight: 400;
	color: #FFFFFF;
	padding-left: 18px;
}
.search_features_trigger a::before
{
	display: block;
	position: absolute;
	top: 7px;
	left: 0;
	width: 10px;
	height: 10px;
	content: '+';
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	line-height: 8px;
	color: #FFFFFF;
	border: solid 1px #FFFFFF;
	padding-left: 1px;
}
.search_features_trigger.active a::before
{
	content: '-';
	padding-left: 2px;
}
.search_features
{
	display: block;
	width: 100%;
	max-height: 0px;
	overflow: hidden;
	opacity: 0;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.search_features.active
{
	margin-top: 35px;
	opacity: 1;
}
.search_features_item
{
	width: 20%;
	float: left;
	margin-bottom: 10px;
}
.search_features_item div
{
	display: inline-block;
	cursor: pointer;
}
.search_features_item div:hover .search_features_cb
{
	border: 1px solid #3853a4;
}
.search_features_checkbox
{
	cursor: pointer;
}
.search_features_cb
{
	width: 12px;
	height: 12px;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	background-color: #FFFFFF;
	border: 1px solid #FFFFFF;
	padding: 9px;
	border-radius: 0px;
	display: inline-block;
	position: relative;
	cursor: pointer;
}
.search_features_cb:focus
{
	outline: none;
	border: 1px solid #3853a4;
}
.search_features_cb:checked::after
{
	display: block;
	position: absolute;
	top: 2px;
	left: 2px;
	width: calc(100% - 4px);
	height: calc(100% - 4px);
	content: '';
	background: #3853a4;
}
.search_features label
{
	display: inline-block;
	position: relative;
	padding-left: 3px;
	margin-bottom: 0px;
	cursor: pointer;
	color: #FFFFFF;
}

/*********************************
7. Section Title
*********************************/

.section_title
{
	padding-top: 37px;
	margin: 0 auto;
}
.section_title::after
{
	display: block;
	position: absolute;
	top: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 3px;
	height: 25px;
	background: #3853a4;
	content: '';
}
.section_title h3
{
	text-transform: uppercase;
	color: #1e2c4e;
	font-weight: 700;
}
.section_subtitle
{
	display: block;
	font-size: 16px;
	font-weight: 600;
	color: #b0b1b3;
	margin-top: -4px;
}

/*********************************
8. Featured
*********************************/

.featured
{
	padding-top: 5px;
	padding-bottom: 100px;
}
.featured_row
{
	padding-top: 0px;
}
.featured_card_container
{
	width: 100%;
}
.featured_panel
{
	position: absolute;
	left: 0;
	top: 21px;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	color: #FFFFFF;
	background: #3853a4;
	line-height: 41px;
	padding-left: 29px;
	padding-right: 26px;
}
.card
{
	display: block;
	border-radius: 0px;
	border: none;
}
.featured_card_container:hover .card
{
	box-shadow: 0px 40px 40px rgba(0,0,0,0.55);
}
.card-img-top
{
	border-radius: 0px;
	height: 240px;
}
.card-body
{
	padding-left: 26px;
	background: #edeff4;
	padding-bottom: 30px;
}
.card-title
{
	margin-top: 24px;
}
.card-title a
{
	font-size: 22px;
	font-weight: 600;
	color: #0e1d41;
}
.card-text
{
	font-size: 14px;
	font-weight: 400;
	color: #838383;
	margin-top: 14px;
}
.rooms
{
	margin-top: 30px;
}
.room
{
	display: inline-block;
	margin-right: 17px;
	margin-bottom: 6px;
}
.room_title
{
	font-size: 12px;
	font-weight: 400;
	color: #2e2e2e;
}
.room_content
{
	margin-top: 8px;
	padding-left: 2px;
}
.room_image
{
	display: inline-block;
	width: 32px;
}
.room_number
{
	position: relative;
	top: 3px;
	font-size: 12px;
	font-weight: 400;
	color: #2e2e2e;
	margin-left: 5px;
}
.room_tags
{
	margin-top: 27px;
}
.room_tag
{
	display: inline-block;
	font-size: 12px;
	background: #3853a4;
	margin-right: 7px;
	margin-bottom: 9px;
}
.room_tag a
{
	display: block;
	color: #FFFFFF;
	padding-left: 13px;
	padding-right: 13px;
	padding-top: 1px;
	padding-bottom: 2px;
}
.featured_card_box
{
	width: 100%;
	height: 86px;
	background: #1e2c4e;
	margin-top: 7px;
	padding-left: 30px;
}
.featured_card_container:hover .featured_card_box
{
	box-shadow: 0px 40px 40px rgba(0,0,0,0.55);
}
.featured_card_box img
{
	width: 30px;
	height: 30px;
}
.featured_card_box_content
{
	padding-left: 28px;
}
.featured_card_price_title
{
	font-size: 12px;
	font-weight: 400;
	color: #FFFFFF;
}
.featured_card_price
{
	font-size: 24px;
	font-weight: 600;
	color: #FFFFFF;
	margin-top: -3px;
}

/*********************************
9. Testimonials
*********************************/

.testimonials
{
	width: 100%;
	background: #1a1a1a;
	padding-top: 100px;
	padding-bottom: 95px;
}
.testimonials .section_title h3
{
	color: #FFFFFF;
}
.testimonials_background_container
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.testimonials_background
{
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.testimonials .section_title h1
{
	color: #FFFFFF;
}
.testimonials_slider_container
{
	padding-left: 30px;
	padding-right: 30px;
	margin-top: 63px;
}
.testimonials_item
{
	width: 100%;
	padding-bottom: 56px;
}
.testimonials_text
{
	font-size: 18px;
	font-weight: 300;
	line-height: 2;
	color: #FFFFFF;
	margin-bottom: 0px;
}
.testimonial_user
{
	margin-top: 67px;
}
.testimonial_image
{
	width: 81px;
	height: 81px;
	border-radius: 50%;
	overflow: hidden;
}
.testimonial_image img
{
	width: 100%;
	height: auto;
}
.testimonial_name
{
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	color: #3853a4;
	margin-top: 17px;
}
.testimonial_title
{
	font-size: 13px;
	font-weight: 600;
	color: #FFFFFF;
	margin-top: 4px;
}
.testimonials_slider .owl-dots
{
	display: -webkit-box !important;
	display: -moz-box !important;
	display: -ms-flexbox !important;
	display: -webkit-flex !important;
	display: flex !important;
	flex-direction: row !important;
	justify-content: center;
	align-items: center;
}
.testimonials_slider .owl-dot span
{
	width: 10px !important;
	height: 10px !important;
	border: solid 2px #3853a4;
	background: transparent !important;
}
.testimonials_slider .owl-dot.active span
{
	width: 10px !important;
	height: 10px !important;
	border: none;
	background: #3853a4 !important;
}

/*********************************
10. Workflow
*********************************/

.workflow
{
	padding-top: 100px;
	padding-bottom: 90px;
	border-bottom: solid 1px #dfe4ee;
}
.workflow_row
{
	margin-top: 83px;
}
.workflow_rocket
{
	position: absolute;
	top: 56px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}
.workflow_item
{

}
.workflow_image_background
{
	width: 227px;
	height: 227px;
}
.workflow_circle_outer,
.workflow_circle_inner,
.workflow_image
{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.workflow_circle_outer
{
	background: #edeff4;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	opacity: 0.5;
	z-index: 1;
}
.workflow_circle_inner
{
	width: 166px;
	height: 166px;
	border-radius: 50%;
	background: #e1e5ec;
	z-index: 2;
}
.workflow_item:hover .workflow_circle_outer
{
	background: #446cb8;
}
.workflow_item:hover .workflow_circle_inner
{
	background: #3f5683;
}
.workflow_item:hover .workflow_num
{
	background: #3853a4;
}
.workflow_image
{
	z-index: 4;
}
.workflow_num
{
	position: absolute;
	top: -11px;
	left: 34px;
	width: 42px;
	height: 42px;
	background: #abb2bf;
	border-radius: 50%;
	z-index: 3;
}
.workflow_num span
{
	font-size: 14px;
	font-weight: 700;
	color: #FFFFFF;
	line-height: 42px;
}
.workflow_item_content
{
	margin-top: 53px;
}
.workflow_title
{
	font-size: 18px;
	font-weight: 700;
	color: #1e2c4e;
}
.workflow_text
{
	color: #838383;
	margin-top: 17px;
	margin-bottom: 0px;
}

/*********************************
11. Cities
*********************************/

.cities
{
	padding-top: 100px;
	padding-bottom: 100px;
}
.cities_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url(../images/world.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}
.cities_slider_container
{
	width: 100%;
	margin-top: 72px;
}
.city_image::after
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	content: '';
	background: #1e2c4e;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.city_item:hover .city_image::after
{
	opacity: 0.9;
}
.city_image img
{
	width: 100%;
}
.city_name
{
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	bottom: 21px;
	width: 113px;
	height: 34px;
	background: #3853a4;
	text-align: center;
}
.city_name span
{
	font-size: 14px;
	font-weight: 600;
	color: #FFFFFF;
	line-height: 34px;
	text-transform: uppercase;
}
.city_details
{
	position: absolute;
	top: 45%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.city_item:hover .city_details
{
	visibility: visible;
	opacity: 1;
}
.cities_nav
{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 48px;
	height: 51px;
	background: #e1e5ec;
	cursor: pointer;
	z-index: 10;
}
.cities_nav:hover
{
	background: #3853a4;
}
.cities_prev
{
	left: -165px;
}
.cities_next
{
	right: -165px;
}

/*********************************
12. Call to Action 1
*********************************/

.cta_1
{
	padding-top: 64px;
	padding-bottom: 62px;
	background: #e7eaf0;
}
.cta_1_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	opacity: 0.32;
}
.cta_1_content
{
	width: 100%;
}
.cta_1_text
{
	color: #1e2c4e;
	font-weight: 700;
	margin-bottom: 0px;
}
.cta_1_text span
{
	color: #3853a4;
}
.cta_1_phone
{
	display: inline-block;
	height: 44px;
	line-height: 44px;
	padding-left: 30px;
	padding-right: 29px;
	color: #FFFFFF;
	font-size: 18px;
	font-weight: 600;
	background: #3853a4;
	margin-left: auto;
	white-space: nowrap;
}

/*********************************
13. Newsletter
*********************************/

.newsletter
{
	padding-top: 76px;
	padding-bottom: 99px;
	background: #0e1d41;
}
.newsletter_title
{
	padding-top: 37px;
	margin: 0 auto;
}
.newsletter_title::after
{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 3px;
	height: 25px;
	background: #3853a4;
	content: '';
}
.newsletter_title h3
{
	text-transform: uppercase;
	color: #FFFFFF;
	font-weight: 700;
}
.newsletter_subtitle
{
	display: block;
	font-size: 16px;
	font-weight: 600;
	color: #b0b1b3;
	margin-top: -4px;
}
.newsletter_form_container
{
	margin-top: 31px;
}
.newsletter_email
{
	width: calc(100% - 132px);
	height: 55px;
	border: none;
	padding-left: 27px;
	font-weight: 500;
	color: #3853a4;
	background: #4a5b85;
}
.newsletter_email:focus
{
	outline: solid 2px #3853a4;
}
.newsletter_email::-webkit-input-placeholder
{
	font-size: 11px !important;
	font-style: italic !important;
	font-weight: 400 !important;
	color: #adb8d4 !important;
}
.newsletter_email:-moz-placeholder /* older Firefox*/
{
	font-size: 11px !important;
	font-style: italic !important;
	font-weight: 400 !important;
	color: #adb8d4 !important;
}
.newsletter_email::-moz-placeholder /* Firefox 19+ */ 
{
	font-size: 11px !important;
	font-style: italic !important;
	font-weight: 400 !important;
	color: #adb8d4 !important;
} 
.newsletter_email:-ms-input-placeholder
{ 
	font-size: 11px !important;
	font-style: italic !important;
	font-weight: 400 !important;
	color: #adb8d4 !important;
}
.newsletter_email::input-placeholder
{
	font-size: 11px !important;
	font-style: italic !important;
	font-weight: 400 !important;
	color: #adb8d4 !important;
}
.newsletter_submit_btn
{
	width: 132px;
	height: 55px;
	border: none;
	background: #3853a4;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	cursor: pointer;
}
.newsletter_submit_btn:focus
{
	border: solid 2px #FFFFFF;
}
.weekly_offer
{
	width: 100%;
	height: 100%;
}
.weekly_offer_image
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.weekly_offer_content
{
	position: absolute;
	top: 0;
	left: 0;
	height: 58px;
	background: #0e1d41;
	z-index: 10;
}
.weekly_offer_icon
{
	width: 64px;
	background: #3853a4;
}
.weekly_offer_icon img
{
	width: 35px;
	height: 41px;
}
.weekly_offer_text
{
	font-size: 14px;
	font-weight: 700;
	line-height: 58px;
	color: #FFFFFF;
	text-transform: uppercase;
	padding-left: 30px;
	padding-right: 30px;
}

/*********************************
14. Footer
*********************************/

.footer
{
	padding-top: 150px;
	padding-bottom: 80px;
	background: #07122c;
}
.footer_col_title
{
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	color: #FFFFFF;
}

/*********************************
14.1 Footer - About
*********************************/

.footer .logo_container
{
	display: inline-block;
	position: absolute;
	left: 0;
	top: -58px;
}
.footer .logo
{
	text-align: center;
}
.footer .logo span
{
	display: block;
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	font-weight: 700;
	color: #FFFFFF;
	text-transform: uppercase;
	margin-top: 1px;
}
.footer_social
{
	margin-top: 60px;
}
.footer_social_item
{
	display: inline-block;
	width: 31px;
	height: 31px;
	border: solid 2px #3853a4;
	border-radius: 50%;
	text-align: center;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
	margin-right: 9px;
}
.footer_social_item:last-child
{
	margin-right: 0px;
}
.footer_social_item a
{
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
}
.footer_social_item a i
{
	display: block;
	position: relative;
	color: #3853a4;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	font-size: 12px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.footer_social_item:hover
{
	background: #3853a4;
}
.footer_social_item:hover a i
{
	color: #FFFFFF;
}
.footer_about
{
	margin-top: 44px;
	padding-right: 10px;
}
.footer_about p
{
	color: #c5c5c5;
	line-height: 2.29;
	margin-bottom: 0px;
}

/*********************************
14.2 Footer - Useful Links
*********************************/

.footer_useful_links
{
	margin-top: 27px;
}
.useful_links_item a
{
	font-size: 14px;
	font-weight: 600;
	color: #c5c5c5;
	line-height: 2.5;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.useful_links_item a:hover
{
	color: #3853a4;
}

/*********************************
14.3 Footer - Contact Form
*********************************/

.footer_contact_form_container
{
	margin-top: 41px;
}
.footer_contact_form
{
	
}
.input_field
{
	width: 100%;
	background: #1e2c4e;
	border: solid 2px transparent;
	margin-bottom: 9px;
	height: 38px;
	padding-left: 17px;
	color: #3853a4;
}
.input_field:focus
{
	outline: none !important;
	border-color: #3853a4;
}
.text_field
{
	width: 100%;
	height: 117px;
	background: #1e2c4e;
	border: solid 2px transparent;
	padding-left: 17px;
	margin-bottom: 7px;
	color: #3853a4;
	padding-top: 10px;
}
.text_field:focus
{
	outline: none !important;
	border-color: #3853a4;
}
.contact_send_btn
{
	width: 86px;
	height: 32px;
	background: #3853a4;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	color: #FFFFFF;
	cursor: pointer;
	border: none;
}
.contact_send_btn:focus
{
	outline: solid 1px #FFFFFF;
	border: green !important;
}
.input_field::-webkit-input-placeholder,
.text_field::-webkit-input-placeholder
{
	font-size: 11px !important;
	font-style: italic !important;
	font-weight: 400 !important;
	color: #6678a3 !important;
}
.input_field:-moz-placeholder,
.text_field:-moz-placeholder
{
	font-size: 11px !important;
	font-style: italic !important;
	font-weight: 400 !important;
	color: #6678a3 !important;
}
.input_field::-moz-placeholder,
.text_field::-moz-placeholder
{
	font-size: 11px !important;
	font-style: italic !important;
	font-weight: 400 !important;
	color: #6678a3 !important;
} 
.input_field:-ms-input-placeholder,
.text_field:-ms-input-placeholder
{ 
	font-size: 11px !important;
	font-style: italic !important;
	font-weight: 400 !important;
	color: #6678a3 !important;
}
.input_field::input-placeholder,
.text_field::input-placeholder
{
	font-size: 11px !important;
	font-style: italic !important;
	font-weight: 400 !important;
	color: #6678a3 !important;
}

/*********************************
14.4 Footer - Contact Info
*********************************/

.contact_info_list
{
	margin-top: 44px;
}
.contact_info_item
{
	margin-bottom: 22px;
}
.contact_info_icon
{
	width: 20px;
	height: 20px;
	margin-right: 10px;
}
.contact_info_icon img
{
	display: block;
	width: 100%;
}
.contact_info_text,
.contact_info_text a
{
	color: #bcbcbd;
	line-height: 2.14;
	margin-top: -4px;
}
.contact_info_item:hover .contact_info_text,
.contact_info_item:hover .contact_info_text a
{
	color: #3853a4;
}

/*********************************
15. Credits
*********************************/

.credits
{
	background: #040b1d;
	text-align: center;
}
.credits span
{
	color: #485165;
	line-height: 49px;
}